@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  margin: 0px;
}
.header{
  height:15% ;
  display: flex;
  flex-direction: row;
  background-color: rgba(240, 189, 98, 0.31);
  align-items: center;
}
.left-section{
  flex: 1;
}
.logo{
  height: 75px;
}
a{
  text-decoration: none;
  color: white;
  font-family: open sans; 
  font-size: 25px;
  margin-left: 30px;
}

.right-section{
  margin-right: 30px;
  width: 1000px;
}
.body{
  margin-left: 80px;
  margin-top: 150px;
}
.heading{
  line-height: 50px;
  width: 900px;
 
}
.coops{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 35px;
  color: white;
  margin-bottom: 50px;
 
}
.red-font{
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: rgba(251, 5, 5, 1);
  padding-right: 25px;
}
.desc{
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 25px;
  line-height: 40px;
  margin-top: 100px;
  width: 900px;
}
.overlay {
  background-color: rgba(118, 114, 114, 0.76);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background-color: white;
  width: 380px;
  padding: 5px;
  border-radius: 5px;
  height: 540px;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
}
.mini-logo{
  width: 100px;
  display: inline-block;
}
.close-button-d {
  color: black;
  position: absolute;
  margin-left: 120px;
  margin-bottom: 5px;
  font-family: Arial;
  font-size: 20px;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;

}

.modal-content {
  font-family: 'Inter', sans-serif;
  margin-bottom: 40px;
  color: rgba(255, 186, 63, 1);
}
.number-input{
  font-family: 'Inter', sans-serif;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 250px;
  border-radius: 6px;
  margin-left: 30px;
}
.login-button{
  font-family: 'Poppins', sans-serif;
  background-color: rgba(255, 186, 63, 1);
  color: black;
  height: 40px;
  width: 90px;
  border-radius: 25px;
  border: none; 
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px; 
  cursor: pointer;
  margin-top: 35px;
}
.login-button:hover{
  background-color: rgb(247, 202, 0);
}
.login-button:active{
  opacity: 0.5;
}
.button{
  text-decoration: none;
  color: black;
}
.register{
  color: rgba(255, 185, 60, 1);
  text-decoration: none;
  font-size: 16px;
  margin-left: 0px;
}
.alt-option{
  font-family: 'Poppins', sans-serif;
  margin-top: 70px;
}


