@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  font-family: 'Inter', sans-serif;
}
body{
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
.logo{
  width: 90px;
  margin-left: 35px;
}
.profile{
  margin-top: 50px;
  margin-left: 35px;
  width: 90px;
}
.current_page{
  background-color: rgba(255, 186, 63, 0.25);
  margin-top: 50px;
  height: 25px;
  border-radius: 8px;
  color: rgba(255, 186, 63, 1);
  margin-bottom: 50px;
}
.options{
  margin-top: 20px;
  margin-bottom: 50px;
}
.sidebar {
  background-color: white;
  position: fixed;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  width:fit-content;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.user_icon{
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.icon{
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}
.header{
  height:120px ;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-nav {
  position: fixed;
  top: 25px;
  right: 20px;
}
.home-nav a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.content{
  margin-left: 280px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
.notificatonSection{
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 12px;
  border-radius: 6px;
  margin-right: 20px;
}
.head{
  background-color: rgba(255, 186, 63, 1);
  color: white;
  font-size: 30px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

.circle{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: rgba(255, 186, 63, 1);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.eyeIcon{
  width: 30px;
}
.search{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 20px;
}
.listOfPeople{
  justify-content: center;
  align-items: center;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

th, td {
  border: none;
  padding: 8px;
  text-align: left;
}

th {
  background-color: white;
  border-color: black;
  border-width: 2px;
  color:rgba(128, 122, 122, 1);
  font-size: 20px;
}
td{
  font-size: 18px;
  margin-bottom: 10px;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

input{
 width: 100%;
 height: 40px;
 display: flex;
 border-radius: 3px;
 border: none;
 box-shadow: 5px 0 6px rgba(0, 0, 0, 0.3);
 background-color: white;
}
.searchButton{
  width: 100%;
  height: 40px;
  display: flex;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;  
  justify-content: center;
  align-items: center;
}
.farmerProfile{
  width: 30px;
  margin-right: 20px;
}
.list{
  width: 100%;
  padding: 5px;
  display: flex;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;  
  justify-content: center;
  align-items: center; 
  margin-top: 20px;
}
.viewDetailButton{
  background-color: rgba(255, 186, 63, 1);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}



